@mixin df($justify: center, $align: center){
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin dfc($align: center, $justify: center,){
    display: flex;
    flex-direction: column;
    justify-content: $justify;
    align-items: $align;
}

//      px = rem × 16 - formula ( 1rem 16px ga teng degani)