@import "./variable";
@import "./mixin";
@import "./reset";

@import "../components/header/header";

@import "../components/hero/hero";
@import "../components/projects/projects";
@import "../components/skills/skills";
@import "../components/contact/contact";

@import "../components/button/button";

@import "../components/footer/footer"; 





