.hero {
  width: 100%;
  min-height: 80vh;
  @include df();
  text-align: center;
  color: #fff;
  position: relative;
  padding: 60px 20px;
  

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  // overlay (qora shaffof fon)
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(10, 19, 60, 0.779); // yarim shaffof qora
    z-index: 1;
  }

  &__content {
    max-width: 800px;
    position: relative; // overlay ustiga chiqadi
    z-index: 2;

    h1 {
      font-size: 3rem;
      font-weight: 700;
      margin-bottom: 20px;
    }
    span{
      position: relative;
      animation: bounce 0.7s ease infinite alternate;
      top: 20px;

    }
    h1 span:nth-child(3){animation-delay: 0.1s;}
    h1 span:nth-child(5){animation-delay: 0.2s;}
    h1 span:nth-child(7){animation-delay: 0.3s;}


    @keyframes bounce{
      100%{
        top: -20px;
      }
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6;
      opacity: 0.95;
    }
  }
}
