.body{
    width: 100%;
    background: $main-back;
}
.section {
  min-height: 100vh; // to‘liq ekran
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  font-weight: bold;
  color: white;
  background: #2c2c2c;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}
