.body {
  width: 100%;
  height: 100%;
  background: $main-back; // asosiy fon
  overflow: hidden;
  position: relative;
  color: $light;
}

.section {
  min-height: 100vh; // to‘liq ekran
  @include df;
  font-size: 48px;
  font-weight: bold;
  color: $light;
}