@import "../../sass/variable";

.footer {
    width: 100%;
    background: rgba(42, 45, 189, 0.6352941176);
    color: $light;
    padding: 20px 0;
    text-align: center;
    

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; // media uchun moslashuv
    }

    &__left {
        max-width: 400px;

        .footer__logo {
            font-size: 28px;
            font-weight: 700;
            color: #00bcd4;
            margin-bottom: 10px;
        }

        .footer__desc {
            font-size: 15px;
            line-height: 1.6;
            opacity: 0.8;
        }
    }

    &__right {
        display: flex;
        gap: 20px;

        .footer__social {
            font-size: 22px;
            color: $light;
            // transition: 0.3s ease;

            &:hover {
                color: #00bcd4;
                transform: scale(1.2);
            }
        }
    }

    &__bottom {
        margin-top: 20px;
        text-align: center;
        font-size: 14px;
        opacity: 0.7;
    }
}

/* Responsive */
@media (max-width: 768px) {
    .footer__wrapper {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
}